In [2]:
import pandas as pd
import numpy as np
import re
import os
import pymysql
from sqlalchemy import create_engine

In [3]:
cred = os.environ.get('SQL')
engine = create_engine('mysql+pymysql://'+cred+'@localhost/final_project')

In [5]:
# Import from SQL database
# ug = pd.read_sql("SELECT steamid, appid FROM final_project.games_2 LIMIT 5842434;", con=engine)
# ug2 = pd.read_sql("SELECT * FROM final_project.games_2 WHERE steamid > (SELECT MAX(steamid) - 5842434 FROM final_project.games_2);", con=engine)
ug3 = pd.read_sql("SELECT steamid, appid FROM final_project.games_2 LIMIT 100000000;", con=engine)

KeyboardInterrupt:

In [32]:
# # Find how many records need to be imported to get 150k users
# c = 1
# j = 0
# sids = [ug.loc[0, "steamid"]]
# for i in range(1,len(ug)):
#     if ug.loc[i, "steamid"] != ug.loc[i-1, "steamid"]:
#         c += 1
#         if c > 150000:
#             j = i
#             break
#         sids.append(ug.loc[i, "steamid"])

# j, len(set(sids))
# Outputs (5842434, 150000)

In [ ]:
ug["ones"] = 1

In [47]:
mat = pd.pivot_table(ug, index="steamid", columns="appid", aggfunc="sum")

In [48]:
mat

                    ones                                                   \
appid             10     20     30     40     50     60     70     80
steamid
76561197960265729    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
76561197960265730    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
76561197960265731    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
76561197960265733    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
76561197960265734    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
...                  ...    ...    ...    ...    ...    ...    ...    ...
76561197960588629    1.0    1.0    1.0    1.0    1.0    1.0    1.0    NaN
76561197960588634    1.0    1.0    1.0    1.0    1.0    1.0    1.0    NaN
76561197960588635    1.0    1.0    1.0    1.0    1.0    1.0    1.0    NaN
76561197960588641    1.0    1.0    1.0    1.0    1.0    1.0    1.0    NaN
76561197960588645    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0

                                 ...                                     \
appid             92     100     ... 315240 315260 315610 315920 315940
steamid                          ...
76561197960265729    NaN    1.0  ...    NaN    NaN    NaN    NaN    NaN
76561197960265730    NaN    1.0  ...    NaN    NaN    NaN    NaN    NaN
76561197960265731    NaN    1.0  ...    NaN    NaN    NaN    NaN    NaN
76561197960265733    NaN    1.0  ...    NaN    NaN    NaN    NaN    NaN
76561197960265734    NaN    1.0  ...    NaN    NaN    NaN    NaN    NaN
...                  ...    ...  ...    ...    ...    ...    ...    ...
76561197960588629    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960588634    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960588635    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960588641    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960588645    NaN    1.0  ...    NaN    NaN    NaN    NaN    NaN


appid             316020 316460 317380 317470 317760
steamid
76561197960265729    NaN    NaN    NaN    NaN    NaN
76561197960265730    NaN    NaN    NaN    NaN    NaN
76561197960265731    NaN    NaN    NaN    NaN    NaN
76561197960265733    NaN    NaN    NaN    NaN    NaN
76561197960265734    NaN    NaN    NaN    NaN    NaN
...                  ...    ...    ...    ...    ...
76561197960588629    NaN    NaN    NaN    NaN    NaN
76561197960588634    NaN    NaN    NaN    NaN    NaN
76561197960588635    NaN    NaN    NaN    NaN    NaN
76561197960588641    NaN    NaN    NaN    NaN    NaN
76561197960588645    NaN    NaN    NaN    NaN    NaN

[150000 rows x 4060 columns]

In [52]:
mat[mat["ones",10].isna()]

                    ones                                                   \
appid             10     20     30     40     50     60     70     80
steamid
76561197960265751    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561197960265915    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561197960266219    NaN    NaN    1.0    NaN    NaN    NaN    1.0    NaN
76561197960266440    NaN    NaN    NaN    NaN    1.0    NaN    1.0    NaN
76561197960266632    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...                  ...    ...    ...    ...    ...    ...    ...    ...
76561197960578376    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561197960579098    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561197960582328    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561197960583919    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561197960586998    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

                                 ...                                     \
appid             92     100     ... 315240 315260 315610 315920 315940
steamid                          ...
76561197960265751    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960265915    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960266219    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960266440    1.0    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960266632    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
...                  ...    ...  ...    ...    ...    ...    ...    ...
76561197960578376    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960579098    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960582328    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960583919    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
76561197960586998    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN


appid             316020 316460 317380 317470 317760
steamid
76561197960265751    NaN    NaN    NaN    NaN    NaN
76561197960265915    NaN    NaN    NaN    NaN    NaN
76561197960266219    NaN    NaN    NaN    NaN    NaN
76561197960266440    NaN    NaN    NaN    NaN    NaN
76561197960266632    NaN    NaN    NaN    NaN    NaN
...                  ...    ...    ...    ...    ...
76561197960578376    NaN    NaN    NaN    NaN    NaN
76561197960579098    NaN    NaN    NaN    NaN    NaN
76561197960582328    NaN    NaN    NaN    NaN    NaN
76561197960583919    NaN    NaN    NaN    NaN    NaN
76561197960586998    NaN    NaN    NaN    NaN    NaN

[149 rows x 4060 columns]

In [55]:
ug[ug["appid"]==10]

                   steamid  appid  ones
0        76561197960265729     10     1
31       76561197960265730     10     1
88       76561197960265731     10     1
154      76561197960265733     10     1
231      76561197960265734     10     1
...                    ...    ...   ...
5842364  76561197960588629     10     1
5842372  76561197960588634     10     1
5842400  76561197960588635     10     1
5842408  76561197960588641     10     1
5842417  76561197960588645     10     1

[149851 rows x 3 columns]

In [60]:
ug2["ones"]=1

In [61]:
mat2 = pd.pivot_table(ug2, index="steamid", columns="appid", aggfunc="sum")

In [62]:
mat2

                    ones                                                   \
appid             10     20     30     40     50     60     70     80
steamid
76561198083128828    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561198083128888    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561198083128948    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561198083129008    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561198083129128    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...                  ...    ...    ...    ...    ...    ...    ...    ...
76561198086417998    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561198086421538    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561198086425078    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561198086426848    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76561198086432158    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

                                 ... playtime_forever                       \
appid             92     100     ...           321030 321150 321190 321310
steamid                          ...
76561198083128828    NaN    NaN  ...              NaN    NaN    NaN    NaN
76561198083128888    NaN    NaN  ...              NaN    NaN    NaN    NaN
76561198083128948    NaN    NaN  ...              NaN    NaN    NaN    NaN
76561198083129008    NaN    NaN  ...              NaN    NaN    NaN    NaN
76561198083129128    NaN    NaN  ...              NaN    NaN    NaN    NaN
...                  ...    ...  ...              ...    ...    ...    ...
76561198086417998    NaN    NaN  ...              NaN    NaN    NaN    NaN
76561198086421538    NaN    NaN  ...              NaN    NaN    NaN    NaN
76561198086425078    NaN    NaN  ...              NaN    NaN    NaN    NaN
76561198086426848    NaN    NaN  ...              NaN    NaN    NaN    NaN
76561198086432158    NaN    NaN  ...              NaN    NaN    NaN    NaN


appid             321840 322580 323280 323610 324170 324830
steamid
76561198083128828    NaN    NaN    NaN    NaN    NaN    NaN
76561198083128888    NaN    NaN    NaN    NaN    NaN    NaN
76561198083128948    NaN    NaN    NaN    NaN    NaN    NaN
76561198083129008    NaN    NaN    NaN    NaN    NaN    NaN
76561198083129128    NaN    NaN    NaN    NaN    NaN    NaN
...                  ...    ...    ...    ...    ...    ...
76561198086417998    NaN    NaN    NaN    NaN    NaN    NaN
76561198086421538    NaN    NaN    NaN    NaN    NaN    NaN
76561198086425078    NaN    NaN    NaN    NaN    NaN    NaN
76561198086426848    NaN    NaN    NaN    NaN    NaN    NaN
76561198086432158    NaN    NaN    NaN    NaN    NaN    NaN

[57436 rows x 10467 columns]

In [63]:
ug2[ug2["appid"]==10]

,steamid,appid,playtime_2weeks,playtime_forever,dateretrieved,ones
188,76561198083132848,10,NaN,0,2014-09-29 16:43:29,1
329,76561198083133268,10,5253.0,102996,2014-09-29 16:43:43,1
479,76561198083134588,10,NaN,0,2014-09-29 16:44:28,1
878,76561198083137108,10,NaN,48,2014-09-29 16:45:52,1
963,76561198083138068,10,10.0,19,2014-09-29 16:46:25,1
...,...,...,...,...,...,...
380886,76561198086368048,10,2.0,2,2014-10-03 00:51:38,1
380920,76561198086368168,10,NaN,2,2014-10-03 00:51:39,1
381207,76561198086382418,10,NaN,0,2014-10-03 00:53:01,1
381237,76561198086382478,10,NaN,344,2014-10-03 00:53:02,1
381365,76561198086409148,10,1191.0,30658,2014-10-03 00:53:34,1

In [64]:
len(ug2["steamid"].unique())

57436

In [65]:
len(ug2)

381386

In [66]:
381386/57436

6.6401908210878196

In [4]:
ug3

NameError: name 'ug3' is not defined